@media(min-width:768px) and (max-width:1023px) {
    .cards-container {
        grid-template-columns: repeat(2, 1fr);
        row-gap: 30px;
        margin: 40px auto;
        place-items: center;
    }

    .cards-container .card {
        width: 60%;
    }

    .cards-container .card img {
        height: 13vh;
    }

    .project-content {
        height: 15vh;
    }
}

@media (max-width:600px) {

    .right {
        display: none;
    }

    .intro {
        justify-content: center;
        margin: 60px 64px 0 64px;
    }

    .left {
        width: 100%;
        text-align: center;
    }

    .about {
        justify-content: center;
        flex-direction: column;
        padding: 10px 20px 10px 10px;
        margin: 150px 0 110px 0;
    }

    .about hr {
        width: 90%;
    }

    .aboutMe {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    #query {
        margin: 20px auto;
    }

    .cards-container {
        grid-template-columns: 1fr;
    }

    .project-heading {
        margin-bottom: 25px;
    }

    .cards-container .card {
        width: 90%;
        margin-bottom: 22px;
    }

    .cards-container .project-content {
        height: 17vh;
    }

    .resume-github {
        position: static;
        text-align: center;
        margin: 12vh 0;
    }

    .btn {
        padding: 2px;
    }
}

/* Small devices (e.g., smartphones): 320px to 767px
Medium devices (e.g., tablets): 768px to 1023px
Large devices (e.g., desktops): 1024px and above */