@media(max-width:600px) {
    .intro {
        flex-direction: column;
        justify-content: center;
    }

    .left {
        width: 100%;
        /* background-color: red; */
        height: 10vh;
    }

    /* .right{} */

.right {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 80px auto;
    }

    .resume-github {
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0 auto;
        position: relative;
        top: -30px;
    }

    .intro .right img {
        /* width: 50vw; */
    }  
}