@media(max-width:337px) {

    .resume {
        margin-bottom: 12px;
    }
}

@media (max-width:600px) {

    .right {
        display: none;
    }

    .intro {
        justify-content: center;
        margin: 60px 64px 0 64px;
    }

    .left {
        width: 100%;
        text-align: center;
    }

    .about {
        justify-content: center;
        flex-direction: column;
        padding: 10px 20px 10px 10px;
        margin: 150px 0 110px 0;
    }

    .about hr {
        width: 90%;
    }

    .aboutMe {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    #query {
        margin: 20px auto;
    }

    .cards-container {
        grid-template-columns: 1fr;
    }

    .project-heading {
        margin-bottom: 25px;
    }

    .cards-container .card {
        width: 95%;
        margin-bottom: 22px;
    }

    .cards-container .project-content {
        height: 15vh;
    }

    .resume-github {
        position: static;
        margin: 160px 60px;
        margin: 2vh;
        text-align: center;
    }

    .btn {
        padding: 2px;
    }
}

/* Small devices (e.g., smartphones): 320px to 767px
Medium devices (e.g., tablets): 768px to 1023px
Large devices (e.g., desktops): 1024px and above */