@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
}

:root {
    --bcgcolor: rgb(18, 18, 33);
    --textcolor: rgb(179, 25, 179);
    --footerBgColor: rgb(25, 25, 25);
    --boxShadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
}

body {
    background-color: rgb(23, 23, 40);
    font-family: "Montserrat", sans-serif;
}

main {
    overflow: hidden;
}

.intro .right img {
    width: 63%;
}

.right {
    width: 50%;
    margin-right: -180px;
}

.left {
    width: 48.8%;
    height: 22vh;
    /* background-color: red; */
}

.left h1 {
    color: rgb(243, 237, 237);
}

.intro {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 60px 80px 0 60px;
}

.resume-github {
    margin: 0 60px;
    position: relative;
    top: -35px;
}

.resume {
    margin-right: 3px;
}

.btn {
    padding: 6px;
    font-weight: bold;
    transition: 0.3s ease;
    cursor: pointer;
    border-radius: 5px;
    border: transparent;
    box-shadow: var(--boxShadow);
}

.btn:hover {
    transform: translateY(-2px);
}

.intro span {
    color: var(--textcolor);
    display: inline-block;
}

#element {
    display: inline-block;
}

.text {
    color: black;
    text-decoration: none;
}

.about {
    font-size: 1.1rem;
    padding: 32px 9px 23px 80px;
    margin: 116px 0;
    color: white;
    background-color: var(--footerBgColor);
    display: flex;
    align-items: center;
    box-shadow: var(--boxShadow);
}

.about p {
    margin: 17px 0;
    font-size: 1.2rem;
}

.aboutMe h3 {
    font-size: 1.5rem;
    color: white;
    margin-bottom: 10px;
}

.aboutMe {
    width: 35vw;
    padding: 10px 0 2px 10px;
}

.link-color {
    text-decoration: none;
    color: white;
}

.profile-links {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px 0;
    width: 100%;
}

.profile-links img {
    margin: 0 7px;
}

.profile-links img {
    width: 32px;
    cursor: pointer;
}

.bold {
    font-weight: bold;
    font-size: 1.4rem;
}

.contact-details {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.contact-details p {
    margin-bottom: 13px;
}

#query {
    margin-left: 150px;
}

#query img {
    width: 30px;
    margin-right: 5px;
}

#query span {
    display: flex;
    align-items: center;
    margin-top: 6px;
}

hr {
    color: var(--textcolor);
}

.project {
    margin: 0 40px 150px 40px;
}

.cards-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    place-items: center;
    margin: 40px 0;
    padding: 0 100px;
}

.cards-container .card {
    width: 17vw;
    cursor: pointer;
    box-shadow: var(--boxShadow);
    transition: 0.3s ease;
}

.cards-container .card img {
    width: 100%;
    height: 19vh;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
}

.project-content {
    padding: 5px 8px;
    margin-top: -5px;
    background-color: rgb(253, 249, 240);
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
    height: 20vh;
}

.project-heading {
    font-size: 2.1rem;
    border-bottom: 1.5px solid var(--textcolor);
    width: 10%;
    color: white;
}

.space {
    margin-bottom: 5px;
}

footer {
    background-color: var(--footerBgColor);
    display: flex;
    flex-direction: column;
    color: white;
    padding: 15px 0 0 0;
}

.skills {
    font-weight: 600;
}

footer img {
    margin: 0 6px;
}

.card:hover {
    transform: translateY(-2px);
    opacity: 0.6;
}