@import url('https://fonts.googleapis.com/css2?family=poppins:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: rgb(44, 44, 52);
}

main {
    overflow: hidden;
    background-color: red;
}

.intro .right img {
    width: 65%;
}

.right {
    width: 50%;
    margin-right: -150px;
}

.left {
    width: 50%;
}

.left h1 {
    color: rgb(243, 237, 237);
}

.intro {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 60px 80px 0 60px;
}

.resume-github {
    margin: 0 60px;
    position: relative;
    top: -60px;
}

.resume {
    cursor: pointer;
    margin-right: 3px;
}

.github {
    cursor: pointer;
}

.btn {
    padding: 3px;
    font-weight: bold;
}

span {
    color: black;
}

.text {
    color: black;
    text-decoration: none;
}

.about {
    background-color: rgb(38, 38, 42);
    font-size: 1.1rem;
    padding: 32px 9px 23px 80px;
    margin: 100px 0;
    color: white;
}

.about p {
    margin: 17px 0;
    font-size: 1.2rem;
}

.aboutMe h3 {
    font-size: 1.5rem;
}

.aboutMe {
    width: 35vw;
}

.link-color {
    text-decoration: none;
    color: white;
}

.profile-links {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px 0;
}

.profile-links div {
    margin: 0 10px;
}

.profile-links img {
    width: 42px;
    cursor: pointer;
}

footer {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: rgb(38, 37, 37);
    color: white;
    padding: 15px 0 0 0;
}

.bold {
    font-weight: bold;
    font-size: 1.4rem;
}

.contact {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.contact p {
    margin-bottom: 13px;
}