* {
  margin: 0;
  padding: 0;
}

body::-webkit-scrollbar {
  display: none;
}

:root {
  /* --footer-color: rgb(39, 38, 38); */
  --footer-color: rgb(49, 49, 56);
  --textclr: rgb(234, 62, 234);
}

body {
  /* background-color: rgb(26, 26, 63); */
  /* background-color: rgb(24, 24, 44); */
  background-color: rgb(28, 28, 56);
}

.name,
#element {
  color: var(--textclr);
}

.project-heading {
  border-bottom: 1.5px solid rgb(179, 25, 179);
}

.about,
.footer,
nav {
  background-color: var(--footer-color);
}

.about {
  border-radius: 15px;
}

footer {
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

button {
  border: 2px solid var(--textclr);
}

@media (max-width:768px) {

  .intro {
    justify-content: center;
    width: 100%;
    margin: 50px auto 0 auto;
    flex-direction: column;
  }

  .right {
    margin: 10px 0;
    width: 75%;
  }

  .right img {
    margin: 20px auto;
    width: 100%;
  }

  .left {
    text-align: center;
    width: 301px;
    height: 250px;
  }

  .about {
    overflow: hidden;
    flex-direction: column;
    padding: 20px 15px 13px 3px;
    margin: 120px 0 85px 0;
  }

  .about hr {
    width: 100%;
  }

  .aboutMe {
    width: 90vw;
    overflow: hidden;
  }

  #query {
    margin: 0 auto;
    text-align: center;
    padding: 0;
    width: 100vw;
  }

  #query span {
    margin: 0 auto;
    text-align: center;
    padding: 0;
  }

  .project-heading {
    margin-bottom: 40px;
  }

  .cards-container {
    place-content: center;
    margin: 0 auto;
    row-gap: 26px;
  }

  .cards-container .card {
    width: 200px;
  }

  .btn:hover {
    outline: none;
    opacity: 1;
    transform: none;
  }

  .cards-container .card img {
    height: 120px;
  }

  .cards-container .project-content {
    height: 54px;
  }

  .resume-github {
    position: static;
    text-align: center;
    margin: 50px 0 0 0;
  }

  .btn {
    padding: 7px;
  }

  #btn {
    position: relative;
    top: 30px;
  }

  .project {
    margin-bottom: 90px;
  }
}