* {
  margin: 0;
  padding: 0;
}

body::-webkit-scrollbar {
  display: none;
}

.card {
  overflow: hidden;
  border-radius: 15px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.5);
}

button {
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.5);

}

:root {
  --footer-color: rgb(25, 25, 29);
  --textclr: rgb(190, 50, 190);
}

html,
body {
  background-color: rgb(22, 22, 59);
  scroll-behavior: smooth;
}

.btn:hover {
  outline: none;
  opacity: 0.8;
  transform: translateY(-2px);
  transition-duration: 0.3s;
}

.name,
#element {
  color: var(--textclr);
}

.project-heading {
  border-bottom: 1.5px solid rgb(179, 25, 179);
}

.about,
.footer,
nav {
  background-color: var(--footer-color);
}

.about {
  border-radius: 15px;
}

footer {
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

button {
  border: 2px solid var(--textclr);
}

@media (max-width:768px) {
  .intro {
    justify-content: center;
    width: 100%;
    margin: 50px auto 0 auto;
    flex-direction: column;
  }

  .right {
    margin: 20px 0;
    width: 75%;
  }

  .right img {
    margin: 20px auto;
    width: 100%;
  }

  .left {
    text-align: center;
    width: 301px;
    height: 250px;
  }

  .about {
    overflow: hidden;
    flex-direction: column;
    padding: 24px 15px 17px 5px;
    margin: 135px 0 85px 0;
  }

  .about hr {
    width: 100%;
  }

  .aboutMe {
    width: 90vw;
    overflow: hidden;
  }

  #query {
    margin: 0 auto;
    text-align: center;
    padding: 0;
    width: 100vw;
  }

  #query span {
    margin: 0 auto;
    text-align: center;
    padding: 0;
  }

  .project-heading {
    margin-bottom: 40px;
  }

  .cards-container {
    place-content: center;
    margin: 0 auto;
    row-gap: 38px;
  }

  .cards-container .card {
    width: 205px;
  }

  .btn:hover {
    transform: initial;
    opacity: initial;
  }

  .card:hover {
    transform: initial;
    opacity: initial;
  }

  button:hover {
    transform: none;
    opacity: initial;
  }

  .cards-container .card img {
    height: 120px;
  }

  .cards-container .project-content {
    height: 58px;
  }

  .resume-github {
    position: static;
    text-align: center;
    margin: 50px 0 0 0;
  }

  .btn {
    padding: 7px;
  }

  #btn {
    position: relative;
    top: 55px;
    left: -15px;
  }

  .project {
    margin-bottom: 90px;
  }
}